[build]
  publish = "."
  functions = "netlify/functions"

[functions]
  node_bundler = "esbuild"

[[redirects]]
  from = "/.netlify/functions/goals/*"
  to = "/.netlify/functions/goals/:splat"
  status = 200
